html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: 'iconfont'; /* project id 831010 */
  src: url("//at.alicdn.com/t/font_831010_cuf7iatn8d6.eot");
  src: url("//at.alicdn.com/t/font_831010_cuf7iatn8d6.eot?#iefix") format('embedded-opentype'), url("//at.alicdn.com/t/font_831010_cuf7iatn8d6.woff") format('woff'), url("//at.alicdn.com/t/font_831010_cuf7iatn8d6.ttf") format('truetype'), url("//at.alicdn.com/t/font_831010_cuf7iatn8d6.svg#iconfont") format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.index-con,
.header .header-bar-wrap.fixed,
.post-con .post-article,
#post-toc,
.archives,
.comment-wrap,
.gotop {
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
.article h1 {
  font-size: 1.6em;
  font-weight: bold;
}
.article h2 {
  font-size: 1.5em;
  color: #333;
}
.article h3 {
  font-size: 1.3em;
}
.article h4 {
  font-size: 1.2em;
}
.article h5 {
  font-size: 1em;
}
.article h6 {
  font-size: 1em;
  color: color-grey;
}
.article hr {
  border: 1px dashed color-border;
}
.article strong {
  font-weight: bold;
}
.article em,
.article cite {
  font-style: italic;
}
.article sup,
.article sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article sup {
  top: -0.5em;
}
.article sub {
  bottom: -0.2em;
}
.article small {
  font-size: 0.85em;
}
.article acronym,
.article abbr {
  border-bottom: 1px dotted;
}
.article ul,
.article ol,
.article dl {
  margin: 0 20px;
  line-height: 1.6em;
}
.article ul ul,
.article ol ul,
.article ul ol,
.article ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article ul {
  list-style: disc;
}
.article ol {
  list-style: decimal;
}
.article dt {
  font-weight: bold;
}
.index-con {
  width: 1200px;
  margin: 0 auto;
  -webkit-transform: translateY(-46px);
  -moz-transform: translateY(-46px);
  -ms-transform: translateY(-46px);
  transform: translateY(-46px);
  margin-bottom: -46px;
  z-index: 100;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  overflow: hidden;
}
.index-con .index-con-left {
  width: 100%;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}
.index-con .index-con-right {
  width: 340px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin: 20px 0;
  padding: 0 40px 0 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.about-me {
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.about-me .am-hd {
  text-align: center;
  padding: 20px 10px;
}
.about-me .am-hd .head-img {
  width: 80px;
  height: 80px;
  border-radius: 42px;
  overflow: hidden;
  padding: 2px;
  border: 1px solid #e6e6e6;
}
.about-me .am-bd {
  text-align: center;
}
.about-me .am-bd .author {
  font-size: 1.4em;
  line-height: 1.8em;
  color: #333;
}
.about-me .am-bd .introduce {
  font-size: 0.8em;
  line-height: 1.6em;
  color: #565a5f;
}
.about-me .am-bd .location {
  font-size: 0.8em;
  line-height: 1.6em;
  color: #8d9194;
}
.about-me .am-ft {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 20px 0;
}
.about-me .am-ft a {
  color: #8d9194;
  margin: 0 7px;
}
.about-me .am-ft a span {
  font-size: 2em;
}
.widget {
  padding: 40px 0;
  border-bottom: 1px solid #e6e6e6;
}
.widget:last-child {
  border: none;
}
.widget .widget-title {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
.widget .widget-title span {
  display: inline-block;
  font-size: 1.2em;
  line-height: 2em;
  color: #333;
  position: relative;
}
.widget .widget-title span:after {
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 2px 0 2px 0;
  background: -webkit-linear-gradient(315deg, #999 30%, #ccc 75%, rgba(0,0,0,0) 90%);
  background: -moz-linear-gradient(315deg, #999 30%, #ccc 75%, rgba(0,0,0,0) 90%);
  background: -ms-linear-gradient(315deg, #999 30%, #ccc 75%, rgba(0,0,0,0) 90%);
  background: linear-gradient(135deg, #999 30%, #ccc 75%, rgba(0,0,0,0) 90%);
  position: absolute;
  top: 6px;
  left: -4px;
  z-index: -1;
}
.widget .widget-con {
  padding: 10px 0 0 0px;
}
.widget .widget-con .widget-list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.widget .widget-con .widget-list .widget-list-item {
  font-size: 1em;
  line-height: 2em;
  cursor: pointer;
  margin: 0 5px;
}
.widget .widget-con .widget-list .widget-list-item .widget-list-link {
  color: #8d9194;
}
.widget .widget-con .widget-list .widget-list-item .widget-list-link:hover {
  color: #333;
}
.widget .widget-con .widget-list .widget-list-item .widget-list-count {
  color: #8d9194;
  font-size: 0.8em;
}
.widget .widget-con .widget-list .widget-list-item .widget-list-count:hover {
  color: #333;
}
.widget .widget-con .widget-list .widget-list-item .widget-list-count::before {
  content: ' (';
}
.widget .widget-con .widget-list .widget-list-item .widget-list-count::after {
  content: ')';
}
@media screen and (max-width: 480px) {
  .index-con {
    width: 100%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin-bottom: 0;
  }
  .index-con .index-con-right {
    display: none;
  }
}
.article-list {
  padding: 40px 0;
  margin: 0 40px;
}
.article-list-title {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  color: #333;
  font-size: 1.8em;
  font-weight: bold;
}
.article-list-subtitle {
  font-size: 0.8em;
  color: #797979;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.article-list-subtitle .iconfont {
  font-size: 1.4em;
  margin-right: 2px;
}
.article-list-subtitle div {
  margin-right: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.article-list-subtitle a {
  color: #797979;
}
.article-list-con {
  padding: 12px 0 0 0;
  font-size: 1.1em;
  color: #565a5f;
  line-height: 30px;
  display: block;
  white-space: normal;
  word-break: break-all;
}
.article-list-con .article-list-more {
  color: #999;
  background: #fff;
  font-size: 1em;
  padding: 2px 8px;
  border-radius: 10px;
  white-space: nowrap;
  text-align: center;
}
.article {
  padding: 10px 0 20px 0;
}
.article p,
.article table {
  line-height: 1.6em;
  margin: 1.6em 0;
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  font-weight: bold;
  padding-top: 70px;
  margin-top: -70px;
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  line-height: 1.1em;
}
.article a {
  color: #258fb8;
  text-decoration: none;
}
.article a:hover {
  text-decoration: underline;
}
.article ul,
.article ol,
.article dl {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  list-style-type: circle;
}
.article li {
  line-height: 30px;
}
.article img,
.article video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article iframe {
  border: none;
}
.article table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article th {
  font-weight: bold;
  border-bottom: 3px solid color-border;
  padding-bottom: 0.5em;
}
.article td {
  border-bottom: 1px solid color-border;
  padding: 10px 0;
}
.article figure {
  margin: 1.6em 0px;
  background: #282c34;
  padding: 5px 10px;
  line-height: 1.4em;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  max-height: 800px;
  border-radius: 5px;
}
.article figure table {
  margin: 0;
}
.article figure .gutter {
  padding: 0 4px;
  color: rgba(255,255,255,0.2);
}
.article figure .code {
  color: #eef8fc;
}
.article figure .comment {
  color: rgba(255,255,255,0.4);
}
@media screen and (max-width: 480px) {
  .article-list {
    padding: 20px 0;
    margin: 0 20px;
  }
}
.header {
  width: 100%;
  height: 524px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  position: relative;
}
.header.header-index {
  background-image: url("../image/index-banner.png");
}
.header.header-post {
  height: 400px;
  background-image: url("../image/post-banner.png");
}
.header.header-archive {
  height: 400px;
  background-image: url("../image/post-banner.png");
}
.header.header-resume {
  height: 400px;
  background-image: url("../image/post-banner.png");
}
.header .header-bar-wrap {
  width: 100%;
  height: 90px;
  -webkit-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.15s linear;
  -moz-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.15s linear;
  -ms-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.15s linear;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.15s linear;
}
.header .header-bar-wrap .header-bar {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.header .header-bar-wrap.fixed {
  position: fixed;
  color: #333;
  z-index: 1001;
  height: 60px;
}
.header .header-bar-wrap.fixed .logo {
  top: 15px;
}
.header .header-bar-wrap.fixed .logo-title {
  color: #000;
  line-height: 60px;
}
.header .header-bar-wrap.fixed .menu-item {
  color: rgba(0,0,0,0.8);
  line-height: 60px;
}
.header .header-bar-wrap.fixed .search {
  padding: 15px 0;
}
.header .header-bar-wrap.fixed .search .iconfont {
  top: 19px;
  color: rgba(0,0,0,0.8);
}
.header .header-bar-wrap.fixed .search input {
  border: 1px solid rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.8);
}
.header-title {
  display: inline-block;
  height: 100%;
  position: relative;
  padding-left: 40px;
}
.header-title .logo {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  left: 0;
}
.header-title .logo-dark {
  display: none;
}
.header-title .logo-title {
  font-size: 2em;
  color: #fff;
  font-weight: 100;
  line-height: 90px;
}
.menu {
  float: right;
}
.menu .menu-item {
  line-height: 90px;
  font-size: 1.2em;
  margin: 8px;
  padding: 4px;
  color: rgba(255,255,255,0.8);
}
.menu-mobile {
  display: none;
}
.search {
  float: right;
  position: relative;
  padding: 30px 0;
  margin: 0 0 0 10px;
}
.search input {
  border-radius: 20px;
  width: 100px;
  height: 30px;
  opacity: 0.5;
  padding: 0 14px 0 26px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.search .iconfont {
  position: absolute;
  top: 34px;
  left: 5px;
  color: #fff;
  font-size: 1.4em;
}
.index-slogan {
  display: none;
}
.post-title {
  width: 1200px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -600px;
  color: #fff;
  z-index: 1000;
}
.post-title h1 {
  font-size: 3em;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.post-title .post-subtitle {
  font-size: 1.2em;
  line-height: 2.6em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.post-title .post-subtitle .post-subtitle-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-right: 16px;
  color: rgba(255,255,255,0.8);
}
.post-title .post-subtitle .post-subtitle-item .iconfont {
  font-size: 1em;
  margin-right: 2px;
}
.post-title .post-subtitle .post-subtitle-item a {
  color: rgba(255,255,255,0.8);
}
@media screen and (max-width: 480px) {
  .header {
    height: 180px;
    -webkit-background-size: auto 180px;
    -moz-background-size: auto 180px;
    background-size: auto 180px;
  }
  .header.header-post,
  .header.header-archive,
  .header.header-resume {
    height: 180px;
    -webkit-background-size: auto 180px;
    -moz-background-size: auto 180px;
    background-size: auto 180px;
  }
  .header .header-bar-wrap {
    height: 50px;
  }
  .header .header-bar-wrap .header-bar {
    width: 100%;
    height: 100%;
  }
  .header .header-bar-wrap .header-bar .header-title {
    padding-left: 35px;
  }
  .header .header-bar-wrap .header-bar .header-title .logo {
    width: 20px;
    height: 20px;
    top: 15px;
    left: 10px;
  }
  .header .header-bar-wrap .header-bar .header-title .logo-title {
    font-size: 1.4em;
    line-height: 50px;
    display: none;
  }
  .header .header-bar-wrap .header-bar .menu {
    display: none;
  }
  .header .header-bar-wrap.fixed {
    height: 50px;
  }
  .header .header-bar-wrap.fixed .logo {
    top: 10px;
  }
  .header .header-bar-wrap.fixed .logo-title {
    line-height: 50px;
    display: inline !important;
  }
  .header .header-bar-wrap.fixed .menu-moblie-icon {
    color: #333;
  }
  .index-slogan {
    display: block;
    position: absolute;
    width: 100%;
    padding: 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 10px;
    left: 0;
  }
  .index-slogan h1 {
    font-size: 1.6em;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0,0,0,0.2);
  }
  .index-slogan p {
    font-size: 1.2em;
    line-height: 30px;
    color: rgba(255,255,255,0.6);
    text-shadow: 0 2px 2px rgba(0,0,0,0.2);
  }
  .post-title {
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .post-title h1 {
    font-size: 1.8em;
    width: 96%;
    margin: 0 auto;
  }
  .post-title .post-subtitle {
    font-size: 1em;
    line-height: 40px;
    width: 96%;
    height: 40px;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.14);
    box-shadow: 0 1px 2px rgba(0,0,0,0.14);
    -webkit-transform: translateY(18px);
    -moz-transform: translateY(18px);
    -ms-transform: translateY(18px);
    transform: translateY(18px);
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .post-title .post-subtitle .post-subtitle-item {
    color: #727272;
  }
  .post-title .post-subtitle .post-subtitle-item a {
    color: #727272;
  }
  .menu-mobile {
    display: block;
    float: right;
  }
  .menu-mobile .menu-moblie-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.4em;
    color: #fff;
  }
  .menu-mobile .menu-mobile-panel {
    position: fixed;
    top: 50px;
    right: 10px;
    background: #fff;
    padding: 8px 6px;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 10000;
    -webkit-transform: translate3d(200%, 0, 0);
    -moz-transform: translate3d(200%, 0, 0);
    -ms-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .menu-mobile .menu-mobile-panel.show {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .menu-mobile .menu-mobile-panel .menu-mobile-item {
    display: block;
    color: #333;
    font-size: 1.2em;
    line-height: 42px;
    padding: 0 16px;
    border-bottom: 1px solid #f1f1f1;
  }
  .menu-mobile .menu-mobile-panel .menu-mobile-item:last-child {
    border: none;
  }
}
.post {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.post-con {
  width: 940px;
  -webkit-transform: translateY(-46px);
  -moz-transform: translateY(-46px);
  -ms-transform: translateY(-46px);
  transform: translateY(-46px);
  margin-bottom: -46px;
  z-index: 100;
  overflow: hidden;
}
.post-con .post-article {
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-con-subtitle-wrap {
  display: none;
}
#post-toc {
  width: 240px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: 360px;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 700px;
  overflow-y: auto;
}
#post-toc.fixed {
  position: fixed;
  top: 80px;
}
.toc-title {
  font-size: 1.4em;
  color: #333;
  line-height: 40px;
}
.post-toc-item {
  padding: 5px 5px;
  margin: 8px 0;
  list-style: none;
  border-radius: 4px;
}
.post-toc-item.active {
  background: #f3f3f3;
}
.post-toc-item.active .post-toc-link {
  color: #0c79a5;
}
.post-toc-link {
  font-size: 1em;
  color: #333;
}
@media screen and (max-width: 480px) {
  .post {
    width: 100%;
  }
  .post-con {
    width: 100%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin-bottom: 0;
  }
  #post-toc {
    display: none;
  }
}
.archives {
  width: 1200px;
  -webkit-transform: translateY(-46px);
  -moz-transform: translateY(-46px);
  -ms-transform: translateY(-46px);
  transform: translateY(-46px);
  margin-bottom: -46px;
  margin: 0 auto;
  z-index: 100;
  overflow: hidden;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.archives .archive-date {
  font-size: 1.4em;
  line-height: 40px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}
.archives .archive-list {
  font-size: 1.2em;
  line-height: 28px;
  padding: 4px 0;
  padding-left: 10px;
}
.archives .archive-list a {
  color: #565a5f;
}
@media screen and (max-width: 480px) {
  .archives {
    width: 100%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin: 0;
  }
}
.comment-wrap {
  width: 100%;
  margin: 20px auto 0 auto;
  overflow: hidden;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.comment-wrap .comment-title {
  padding: 0 10px;
  font-size: 1.4em;
  color: #333;
  line-height: 46px;
}
#vcomments .vwrap {
  border: none;
  border-bottom: 2px solid #f3f3f3;
}
#vcomments #veditor {
  background: #f8f8f8;
}
#vcomments .vnick,
#vcomments .vmail {
  width: 44%;
  margin-right: 6%;
}
#vcomments .vsubmit {
  color: #fff;
  border: none;
  background: #0c79a5;
  padding: 0.5rem 2.25rem;
}
#vcomments .vsys {
  display: none;
}
#vcomments .vlist {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#vcomments .vquote {
  background: #f8f8f8;
  padding: 0 1em;
}
@media screen and (max-width: 480px) {
  #vcomments {
    width: 100%;
  }
}
.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
  border-color: color-border;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 1.6em;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: font-mono;
}
.article-entry code {
  background: color-background;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 22.400000000000002px;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: color-border;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: font-mono;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
body {
  background: #f5f5f5;
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-text-size-adjust: 100%;
}
/* paginator */
.pagination {
  padding: 40px 0;
  font: 1.4rem Oswald-Regular;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.pagination .page-btn {
  padding: 6px 12px;
  margin: 0 10px;
  border-radius: 100px;
  font-size: 1em;
  font-weight: 100;
  color: #999;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.pagination .page-btn:hover {
  color: #333;
}
.pagination .page-btn .iconfont {
  font-size: 0.6em;
}
.gotop {
  position: fixed;
  bottom: 157px;
  left: 50%;
  margin-left: 620px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1em;
  color: #6a6a6a;
  display: none;
  -webkit-transition: -webkit-transform 0.3s linear, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s linear, opacity 0.3s;
  -ms-transition: -ms-transform 0.3s linear, opacity 0.3s;
  transition: transform 0.3s linear, opacity 0.3s;
  cursor: pointer;
}
.gotop.show {
  display: block;
}
.footer {
  padding: 50px 0;
  text-align: center;
}
.footer p {
  font-size: 1em;
  color: #6a6a6a;
}
.footer a {
  color: #6a6a6a;
  text-decoration: underline;
}
a {
  text-decoration: none;
}
input {
  outline: none;
  border: none;
  padding: 0;
}
@media screen and (max-width: 480px) {
  .gotop {
    display: none;
  }
}
